/* _content/BudgetCalculator/Views/Acounts/Index.cshtml.rz.scp.css */
.total-container[b-7ej0c1otov] {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.active[b-7ej0c1otov] {
    color: blue;
}

.pasive[b-7ej0c1otov] {
    color: red;
}
/* _content/BudgetCalculator/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vk9ljfgsu4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vk9ljfgsu4] {
  color: #0077cc;
}

.btn-primary[b-vk9ljfgsu4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vk9ljfgsu4], .nav-pills .show > .nav-link[b-vk9ljfgsu4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vk9ljfgsu4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vk9ljfgsu4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vk9ljfgsu4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vk9ljfgsu4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vk9ljfgsu4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
